<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <title>{{ block "title" . }}{{ end }}</title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" />

    <!-- Microsoft favicons -->
    <meta name="msapplication-config" content="/image/favicon/browserconfig.xml" />

    <!-- Standard favicons -->
    <link rel="icon" href="/image/favicon/favicon-16x16.png" type="image/png" sizes="16x16" />
    <link rel="icon" href="/image/favicon/favicon-32x32.png" type="image/png" sizes="32x32" />
    <link rel="icon" href="/image/favicon/favicon-96x96.png" type="image/png" sizes="96x96" />
    <link rel="icon" href="/image/favicon/favicon-230x230.png" type="image/png" sizes="230x230" />

    <!-- Apple favicons -->
    <link rel="apple-touch-icon" href="/image/favicon/apple-touch-icon-57x57.png" type="image/png" sizes="57x57" />
    <link rel="apple-touch-icon" href="/image/favicon/apple-touch-icon-60x60.png" type="image/png" sizes="60x60" /> 
    <link rel="apple-touch-icon" href="/image/favicon/apple-touch-icon-72x72.png" type="image/png" sizes="72x72" /> 
    <link rel="apple-touch-icon" href="/image/favicon/apple-touch-icon-76x76.png" type="image/png" sizes="76x76" /> 
    <link rel="apple-touch-icon" href="/image/favicon/apple-touch-icon-114x114.png" type="image/png" sizes="114x114" /> 
    <link rel="apple-touch-icon" href="/image/favicon/apple-touch-icon-120x120.png" type="image/png" sizes="120x120" /> 
    <link rel="apple-touch-icon" href="/image/favicon/apple-touch-icon-144x144.png" type="image/png" sizes="144x144" /> 
    <link rel="apple-touch-icon" href="/image/favicon/apple-touch-icon-152x152.png" type="image/png" sizes="152x152" /> 
    <link rel="apple-touch-icon" href="/image/favicon/apple-touch-icon-167x167.png" type="image/png" sizes="167x167" /> 
    <link rel="apple-touch-icon" href="/image/favicon/apple-touch-icon-180x180.png" type="image/png" sizes="180x180" /> 

    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="/style/{{ index .Site.Data.rev_manifest_css "style.css" }}" />

    <!-- Javascript -->
    <script type="text/javascript" src="/script/{{ index .Site.Data.rev_manifest_js "all-min.js" }}"></script>
  </head>
  <body>
    {{ block "body" . }}
    {{ end }}
    <script type="text/javascript">
      svg4everybody();
    </script>
  </body>
</html>
