/*
 * Variables
 */
/*
 * Mixins
 */
/*
 * Fonts
 */
@font-face {
  font-family: "Bariol";
  font-style: normal;
  font-weight: normal;
  src: url("/font/bariol.woff2") format("woff2"), url("/font/bariol.woff") format("woff");
}
@font-face {
  font-family: "Bariol";
  font-style: normal;
  font-weight: bold;
  src: url("/font/bariol-bold.woff2") format("woff2"), url("/font/bariol-bold.woff") format("woff");
}
@font-face {
  font-family: "Bariol";
  font-style: italic;
  font-weight: bold;
  src: url("/font/bariol-bold-italic.woff2") format("woff2"), url("/font/bariol-bold-italic.woff") format("woff");
}
@font-face {
  font-family: "Bariol";
  font-style: italic;
  font-weight: normal;
  src: url("/font/bariol-italic.woff2") format("woff2"), url("/font/bariol-italic.woff") format("woff");
}
@font-face {
  font-family: "BariolSerif";
  font-style: normal;
  font-weight: normal;
  src: url("/font/bariol-serif.woff2") format("woff2"), url("/font/bariol-serif.woff") format("woff");
}
@font-face {
  font-family: "BariolSerif";
  font-style: normal;
  font-weight: bold;
  src: url("/font/bariol-serif-bold.woff2") format("woff2"), url("/font/bariol-serif-bold.woff") format("woff");
}
@font-face {
  font-family: "BariolSerif";
  font-style: italic;
  font-weight: bold;
  src: url("/font/bariol-serif-bold-italic.woff2") format("woff2"), url("/font/bariol-serif-bold-italic.woff") format("woff");
}
@font-face {
  font-family: "BariolSerif";
  font-style: italic;
  font-weight: normal;
  src: url("/font/bariol-serif-italic.woff2") format("woff2"), url("/font/bariol-serif-italic.woff") format("woff");
}
@font-face {
  font-family: "SourceCodePro";
  font-style: normal;
  font-weight: normal;
  src: url("/font/sourcecodepro.woff2") format("woff2"), url("/font/sourcecodepro.woff") format("woff");
}
@font-face {
  font-family: "SourceCodePro";
  font-style: normal;
  font-weight: bold;
  src: url("/font/sourcecodepro-bold.woff2") format("woff2"), url("/font/sourcecodepro-bold.woff") format("woff");
}
@font-face {
  font-family: "SourceCodePro";
  font-style: italic;
  font-weight: bold;
  src: url("/font/sourcecodepro-bold-italic.woff2") format("woff2"), url("/font/sourcecodepro-bold-italic.woff") format("woff");
}
@font-face {
  font-family: "SourceCodePro";
  font-style: italic;
  font-weight: normal;
  src: url("/font/sourcecodepro-italic.woff2") format("woff2"), url("/font/sourcecodepro-italic.woff") format("woff");
}
/*
 * Variables
 */
/*
 * Classes
 */
.redacted {
  background-color: #222222;
  color: #222222;
  cursor: default;
  display: inline-block;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
/*
 * Elements
 */
@page {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.5in;
  size: 8.5in 11in;
}
@page :first {
  margin-bottom: 0.5in;
  margin-top: 0;
}
a {
  color: #325082;
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
body {
  -webkit-print-color-adjust: exact;
  background-color: #FFFFFF;
  color: #222222;
  font-family: "Bariol";
  margin: 0.5in;
}
div.education span::before {
  content: " | ";
}
div.experience > p:first-child {
  font-weight: bold;
}
div.experience span::before {
  content: " | ";
}
div.experience > ul {
  margin-bottom: 0;
  margin-top: 0.5625rem;
}
div.experience > ul > li {
  padding-bottom: 0.1875rem;
}
div.experience > ul > li:last-child {
  padding-bottom: 0;
}
div.item-with-date {
  display: flex;
  padding-bottom: 1.125rem;
}
div.item-with-date > div:first-child {
  flex-grow: 1;
}
div.item-with-date > div:first-child a {
  color: #325082;
}
div.item-with-date > div:first-child > p {
  margin: 0;
  padding-bottom: 0.1875rem;
}
div.item-with-date > div:first-child > p:last-child {
  padding-bottom: 0;
}
div.item-with-date > div:last-child {
  cursor: default;
  font-size: 0.6375rem;
  font-weight: bold;
  padding-left: 2.8125rem;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
div.item-with-date > div:last-child p {
  margin: 0;
  padding-bottom: 0.1875rem;
}
div.item-with-date > div:last-child svg {
  height: 0.6375rem;
  width: 0.6375rem;
  padding-bottom: 0.1875rem;
  padding-right: 0.28125rem;
}
div.item-with-date > div:last-child svg + p {
  display: inline-block;
}
div.item-with-date > div:last-child > div > div {
  align-items: center;
  display: flex;
}
div.item-with-date > div:last-child > *:first-child {
  padding-top: 0.28125rem;
}
div.pagebreak {
  page-break-after: always;
}
div.patent > p:nth-child(2) {
  font-style: italic;
}
div.patent > p:nth-child(2)::after {
  content: "\201D";
}
div.patent > p:nth-child(2)::before {
  content: "\201C";
}
div.publication span::after {
  content: "\201D";
}
div.publication span::before {
  content: "\201C";
}
div.publication > p:last-child {
  font-style: italic;
}
div.reference > p:first-child {
  font-weight: bold;
}
div.reference > p:last-child {
  font-style: italic;
}
div.ref-contact {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  width: 6.825rem;
}
div.skills-inner-container {
  border-right: 2px solid #222222;
  flex-basis: 100%;
  padding-left: 0.5625rem;
  padding-right: 0.5625rem;
  text-align: center;
}
div.skills-inner-container:last-child {
  border-right: 0;
  padding-right: 0;
}
div.skills-inner-container > p:first-child {
  font-weight: bold;
  padding-bottom: 0.1875rem;
}
div.skills-inner-container > p:nth-child(2) {
  border-bottom: 2px solid #222222;
  display: inline-block;
  font-style: italic;
  padding-bottom: 0.61875rem;
  white-space: nowrap;
  width: 50%;
}
div.skills-inner-container > p:nth-child(2):after {
  content: ")";
}
div.skills-inner-container > p:nth-child(2):before {
  content: "(";
}
div.skills-inner-container > p:last-child {
  padding-top: 0.61875rem;
}
div.skills-outer-container {
  display: flex;
}
div.skills-outer-container p {
  margin: 0;
  text-align: center;
}
header {
  color: #325082;
  display: flex;
  flex-direction: column;
}
header > section#name-and-info {
  border-bottom: 0.15rem solid #325082;
  display: flex;
  padding-bottom: 0.5625rem;
}
header > section#name-and-info div#name-and-title {
  align-self: center;
  flex-grow: 1;
}
header > section#name-and-info div#name-and-title > h1 {
  font-size: 2.25rem;
  margin: 0;
  text-transform: uppercase;
}
header > section#name-and-info div#name-and-title > h2 {
  font-size: 1.9125rem;
  font-weight: normal;
  margin: 0;
  text-transform: lowercase;
}
header > section#name-and-info div#personal-info {
  display: flex;
  font-weight: bold;
  flex-direction: column;
}
header > section#name-and-info div#personal-info > div {
  display: flex;
  margin-bottom: 0.25rem;
}
header > section#name-and-info div#personal-info > div#address > svg {
  align-self: flex-start;
}
header > section#name-and-info div#personal-info p {
  margin: 0;
}
header > section#name-and-info div#personal-info svg {
  align-self: center;
  height: 1rem;
  margin-right: 0.5625rem;
  width: 1rem;
}
header > section#name-and-info > svg {
  align-self: center;
  height: 4.5rem;
  margin-right: 0.75rem;
  width: 4.5rem;
}
header > section#sites {
  border-bottom: 0.15rem solid #325082;
  display: flex;
  justify-content: space-around;
}
header > section#sites > div {
  display: flex;
}
header > section#sites > div > svg {
  align-self: center;
  height: 1rem;
  margin-right: 0.5625rem;
  width: 1rem;
}
main > section > h1 {
  background-color: #325082;
  border-bottom-right-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
  color: #FFFFFF;
  cursor: default;
  font-weight: bold;
  margin-left: -0.5in;
  padding-bottom: 0.28125rem;
  padding-left: 0.5in;
  padding-top: 0.28125rem;
  text-transform: uppercase;
  width: 70%;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
main > section a {
  color: #222222;
}
main > section > div:last-child {
  padding-bottom: 0;
}
svg {
  fill: #325082;
}
